/*Common Styles*/

body {
    text-align: center;
    font-family: "Helvetica";
    font-size: 14px;
}

a {color: #fff;}

ul {padding-left: 0;}

li {
    list-style: none;
    font-size: 18px;
}

/*Headers*/

h1,
h2,
h3 {font-weight: bold;}

h1 {font-size: 70px;}

h2 {font-size: 32px;}

h3 {font-size: 23px}

/*Reusable Elements*/

.flat-iron {
    background: url(/resources/img/the-flatiron-building.png) center no-repeat;
}

.white {color: #fff;}

/*Header Styles*/

header li {padding-bottom: 10px;}

header li:last-of-type {padding-bottom: 0;}

/* Footer Styles*/
footer {
    background-color: dimgray;
    text-align: left;
}

footer p,
footer ul {
    margin: 0px;
    display: inline-block;
    vertical-align: text-bottom;
}

footer li {
    margin: 0 2px;
    float: left;
    font-size: 16px;
}

#copy {font-size: 11px;}